* {
  padding: 0;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: radial-gradient(circle, rgba(92, 225, 238, 1) 0%, rgba(5, 61, 63, 1) 100%);
}

/*Barra de Navegação*/

header {
  height: 5rem;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 5rem;
  background: #001f253f;
}

header #navbar .nav-image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #001f25;
  font-size: 1.2rem;
  font-weight: 600;
}

header #navbar .nav-list .nav-item a:hover {
  color: #fff;
  transition: 0.3s;
}

/*Seção Principal*/

main {
  margin-top: 4rem;
}

main #conteudo {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #conteudo .conteudo1 .conteudo-pagina-titulo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.8rem;
}

main #conteudo .conteudo1 .conteudo-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

main .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

main #conteudo .container .box .container-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 10px;
}

main #conteudo .container .box .container-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

main .image-container img {
  width: 100%;
  height: auto;
}

/* Media query para ajustar layout quando a página for menor que 1260px */
@media (max-width: 1260px) {
  main .container {
    grid-template-columns: 1fr;
  }

  main .box2 {
    order: -1;
    /* Move a imagem para cima */
  }

  main .container .box2 .img-box {
    width: 100%;
    height: auto;
  }
}

/*SEÇÃO DO FOOTER*/

footer {
  color: #fff;
  width: 100%
}

footer .footer-content {
  background: #001f253f;
  text-align: center;
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 5rem;
  margin-top: 10px;
}

/*PAGINA ENERGIAS RENOVAVEIS*/

main #content {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #content .content-title{
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.8rem;
}

main #content .content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  gap: 3rem;
  border-radius: 10px;
}

main #content .content-container .caixa {
  margin-bottom: 2rem;
}

main #content .content-container .caixa .caixa-subtitulo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 10px;
}

main #content .content-container .caixa .img1 {
  float: left;
  max-width: 20%;
  margin: 10px;
  justify-content: center;
}

main #content .content-container .caixa .caixa-texto{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

main #content .content-container .caixa .tabela .caixa-tabela thead, tbody, tr, th, td{
  border-style:outset;
  border-radius: 10px;
  text-align: center;
  border-color: #001f25;
}

main #content .content-container .caixa .tabela h3{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.8rem;
}